/* !!!!!!ABOUT ME!!!!!! */
.header {
  height: 92px;
  max-width: 100%;
  background-color: black;
  margin-bottom: 20px;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 92px;
  justify-content: space-between;
  background-color: black;
}
.logo {
  width: 50%;
  background-color: black;
}
.header-items {
  align-items: center;
  display: flex;
  width: 70%;
  margin-left: 20%;
  background-color: black;
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
    a {
      font-family: 'Kantumruy Pro', sans-serif;
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: #5db6ea;
      transition: all 0.3s;
      border-bottom: 2px solid #5db6ea;
    }
  }
}








//-------------ABOUT SECTION---------------//

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  padding: 20px 0;
  display: flex;
  @media(max-width: 1200px) {
    padding: 20px;
  }

  @media(max-width: 690px) {
    flex-direction: column;
  }

  &_block-first {
    padding: 0 20px 0 0;
    &_text {
      display: block;
      margin-bottom: 20px;
      &-header {
        font-size: 36px;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        padding-bottom: 10px;

        b {
          color: blue;
        }
      }
      &-content {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        line-height: 1.5;
        font-weight: lighter;
      }
    }

    &_contact {
      display: block;

      .block-element {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        &_label {
          text-transform: uppercase;
          font-size: 12px;
          font-family: 'Lato', sans-serif;
          width: 20%;
          font-weight: 400;
          @media (max-width: 375px) {
            padding-right: 20px;
          }
        }

        &_text {
          font-size: 14px;
          font-family: "Roboto Light", sans-serif;
          a {
            margin-right: 10px;
          }
          a:last-child {
            margin: 0;
          }
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
        }
      }
      .block-element:last-child {
        margin: 0;
      }
    }
  }



  &_block-second {
    display: flex;
    justify-content: flex-end;
    @media(max-width: 690px) {
      order: -1;
      margin-bottom: 20px;
    }
    img {
      width: 70%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      @media(max-width: 1110px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}



//----------------------------SKILLS------------------------------------------------------------------------------------------

.skill {
  display: flex;
  padding: 20px 0;
  @media(max-width: 690px) {
    flex-direction: column;
  }
  @media(max-width: 1200px) {
    padding: 20px;
  }
}

.block-name {
  width: 30%;
  padding: 0 60px 0 0;
  @media(max-width: 690px) {
    width: 100%;
    padding: 0 0 20px 0;
  }
  &_header {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    padding-bottom: 10px;
  }

  &_content {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: lighter;
  }
}

.skill_block {
  width: 70%;

  @media(max-width: 690px) {
    width: 100%;
  }
  &-size {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    flex-direction: column;
    &-item:nth-child(1) {
      border-bottom: 1px solid black;
    }
    &-item:nth-child(2) {
      border-bottom: 1px solid black;
    }
    &_header {
      font-size: 18px;
      line-height: 1.55;
      font-family: "Lato", sans-serif;
    }

    &_content {
      font-size: 16px;
      line-height: 1.56;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }
  }
}



//----------------------------EXPERIENCE------------------------------------------------------------------------------------------


.experience {
  display: flex;
  padding: 20px 0;
  @media(max-width: 1200px) {
    padding: 20px
  }

  @media (max-width: 690px) {
    flex-direction: column;
  }

  &-block {
    width: 70%;
    @media (max-width: 690px) {
      width: 100%;
    }

    &_item {
      display: flex;
      flex-direction: column;

      &-header {
        font-size: 18px;
        line-height: 1.55;
        font-family: "Lato", sans-serif;
        display: flex;
        justify-content: flex-start;
        font-weight: lighter;
        flex-direction: column;

        @media (max-width: 690px) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 10px;
        }

        &_items {
          display: flex;
          align-items: center;

          span:nth-child(1) {
            font-size: 14px;
            opacity: 0.8;
          }
          span:nth-child(2) {
            font-size: 14px;
            opacity: 0.8;
            padding: 0;
          }
        }

        span {
          padding: 0 10px 0 0;
        }

      }

      &-content {
        font-size: 16px;
        line-height: 1.56;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
      }
    }
  }
}



//----------------------------WORKS------------------------------------------------------------------------------------------




.works {
  display: flex;
  padding: 20px 0;
  @media(max-width: 690px) {
    flex-direction: column;
  }
  @media(max-width: 1200px) {
    padding: 20px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &_item {
      width: 200px;
      height: 200px;

      img {
        width: 90%;
      }
    }
  }
}
